//variables & mixins
@white: #ffffff;
@ltGrey: #efefef;
@mdGrey: #c0c0c0;
@dkGrey: #cccccc;
@secondary: #2875c7;
@dkSecondary: darken(@secondary, 10%);
@ltSecondary: lighten(@secondary, 45%);
@borderColor: @white;
@background: @white;

.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// meat of the matter
html {
	font-size: 62.5%;
}

.row {
	display: flex;
	width: 100%;
}

.calendar {
	display: block;
	background: @white;
	border: solid 1px @borderColor;
	margin: 10px auto;
	font-size: 1.3rem;
	text-align: center;
	margin: 40px 0;

	header {
		.vertical-center;
		color: @white;
		cursor: default;
		font-size: 1.4rem;
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		user-select: none;

		.month-display {
			position: relative;
			height: 40px;
			color: #373a44;
			font-size: 16px;
		}

		.month-display .arrows {
			position: absolute;
			top: 3px;
			cursor: pointer;
		}

		.month-display .arrows.prev {
			right: 45px;
		}

		.month-display .arrows.next {
			right: 15px;
		}

		.month-label {
			font-family: "Noto Sans KR", sans-serif;
			font-weight: 500;
			text-align: left;
			padding-left: 10px;
		}

		.month-label .num {
			font-family: "Lato", sans-serif;
			font-weight: 700;
			font-size: 21px;
		}

		.arrow {
			text-align: center;
			flex-basis: 15%;
			font-weight: bold;
			cursor: pointer;
			transition: background 0.2s;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background: @dkSecondary;
			}
		}
	}

	.calendar .foreigner {
		width: 280px;
	}

	.week {
		border-top: solid 1px @borderColor;

		&:first-child {
			border-top: none;
		}
	}

	.day-names {
		color: @secondary;
		font-weight: bold;
		cursor: default;
		font-size: 1.2rem;

		.day {
			cursor: default;

			&:hover {
				background: inherit;
			}
		}
	}
	.day-names .day {
		font-family: "Noto Sans KR", sans-serif;
	}
	.day {
		.vertical-center;
		flex: 1;
		height: 35px;
		border-left: solid 1px @borderColor;
		cursor: pointer;
		transition: all 0.2s;
		font-family: "Lato", sans-serif;
		font-weight: 600;
		color: #373a44;
		border-radius: 8px;
		position: relative;

		&:hover {
			background: @ltGrey;
		}

		&:first-child {
			border-left: none;
		}

		&.today {
			background: #dbe3ff;
		}

		&.different-month {
			color: @mdGrey;
		}

		&.selected {
			background: #2050e6;
			color: @white;
		}
		&.schedule {
			background: #2051e684;
		}
	}

	.cir {
		position: absolute;
		bottom: 0px;
	}
}

/******************** Modal Calendar ********************/
.calendar.modal {
	position: absolute;
	left: 210px;
	top: 5px;
	width: 260px;
	padding: 14px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 25px -2px rgba(55, 58, 68, 0.42);
	-moz-box-shadow: 6px 6px 25px -2px rgba(55, 58, 68, 0.42);
	box-shadow: 6px 6px 25px -2px rgba(55, 58, 68, 0.42);
}

.calendar.modal header .month-display {
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.calendar.modal .day.selected {
	background: #34bcad;
}

.calendar.modal .day {
	height: 37px;
}

/********************모바일********************/
@media (max-width: 960px) {
	.calendar .day {
		padding: 2% 0;
	}
}

/********************웹********************/
@media (min-width: 960px) {
	.calendar .day.selected,
	.calendar .day.today,
	.calendar .day:hover {
		border-radius: 100%;
	}
}
